

.auth-card {
  min-width: 340px;
  max-width: 400px;
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: var(--padding-3) var(--padding-2);
  border: 1px solid var(--card-border);
}

