.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  background-color: var(--header-bg);
  font-weight: 700;
  font-size: clamp(22px, 4vw, 27px);
  color: var(--text-h1);
  box-shadow: 0px 7px 7px -3px rgba(0,0,0,0.32);
  will-change: box-shadow;
  transition: box-shadow 0.3s ease;
}
