body {
  line-height: 1.2;
  font-family: "Inter", sans-serif;
  font-size: clamp(16px, 1.2vw, 18px);
  background-color: var(--bg);
  color: var(--text-gray);
}

h1 {
  color: var(--text-h1);
  font-weight: 700;
  font-size: clamp(20px, 4vw, 25px);
}

h2 {
  color: var(--text-h2);
  font-weight: 400;
  font-size: clamp(14px, 2vw, 18px);
}
/* =========================================================
   INPUT NORMAL
   ========================================================= */
.ant-input {
  height: 44px;
  background-color: var(--card-bg);
  color: var(--color-input);
  border: 1px solid var(--border-input);
  border-radius: 4px;
  padding: 10px !important;
  transition: all 0.3s ease;
}

.ant-input:hover {
  border-color: var(--hover-input);
}

.ant-input:focus {
  border-color: var(--focus-blue);
  outline: none;
}


/* =========================================================
   INPUT PASSWORD (wrapper)
   NG-ZORRO v20 usa ant-input-affix-wrapper
   ========================================================= */

/* Wrapper */
.ant-input-affix-wrapper {
  height: 44px !important;
  padding: 0 !important;
  background-color: var(--card-bg) !important;
  border: 1px solid var(--border-input) !important;
  border-radius: 4px !important;
  transition: all 0.3s ease;
}

/* Hover do wrapper */
.ant-input-affix-wrapper:hover {
  border-color: var(--hover-input) !important;
}

/* Focus REAL do password */
.ant-input-affix-wrapper-focused {
  border-color: var(--focus-blue) !important;
  box-shadow: none !important;
}

/* Ícone */
.ant-input-suffix {
  padding-right: 10px !important;
}

.ant-input-suffix svg {
  color: var(--input-suffix-color);
}


/* =========================================================
   INPUT INTERNO DO PASSWORD
   ========================================================= */
.ant-input-affix-wrapper .ant-input {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  padding: 10px 11px !important;
}


/* =========================================================
   ERRO: input normal + input password
   ========================================================= */

/* Input normal em erro */
.ant-input-status-error.ant-input {
  border-color: var(--primary-red) !important;
  background-color: var(--card-bg);
}

.ant-input-status-error.ant-input:hover {
  border-color: var(--primary-red) !important;
}
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover{
  border-color: var(--primary-red) !important;
  background-color: var(--card-bg);
}

/* Password wrapper em erro */
.ant-form-item-has-error .ant-input-affix-wrapper {
  border-color: var(--primary-red) !important;
  background-color: var(--card-bg) !important;
}

/* Remove borda interna quando em erro */
.ant-form-item-has-error .ant-input-affix-wrapper .ant-input {
  border: none !important;
  box-shadow: none !important;
}
/* =========================================================
   INPUT NORMAL
   ========================================================= */
.ant-input {
  height: 44px;
  background-color: var(--card-bg);
  color: var(--color-input);
  border: 1px solid var(--border-input);
  border-radius: 4px;
  padding: 10px !important;
  transition: all 0.3s ease;

   &::placeholder {
    color: var(--placeholder-input) !important;
  }
}

.ant-input:hover {
  border-color: var(--hover-input);
}

.ant-input:focus {
  border-color: var(--focus-blue);
  outline: none;
}


/* =========================================================
   INPUT PASSWORD (wrapper)
   NG-ZORRO v20 usa ant-input-affix-wrapper
   ========================================================= */

/* Wrapper */
.ant-input-affix-wrapper {
  height: 44px !important;
  padding: 0 !important;
  background-color: var(--card-bg) !important;
  border: 1px solid var(--border-input) !important;
  border-radius: 4px !important;
  transition: all 0.3s ease;
}

/* Hover do wrapper */
.ant-input-affix-wrapper:hover {
  border-color: var(--hover-input) !important;
}

/* Focus REAL do password */
.ant-input-affix-wrapper-focused {
  border-color: var(--focus-blue) !important;
  box-shadow: none !important;
}

/* Ícone */
.ant-input-suffix {
  padding-right: 10px !important;
}

.ant-input-suffix svg {
  color: var(--input-suffix-color);
}


/* =========================================================
   INPUT INTERNO DO PASSWORD
   ========================================================= */
.ant-input-affix-wrapper .ant-input {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  padding: 10px 11px !important;
}


/* =========================================================
   ERRO: input normal + input password
   ========================================================= */

/* Input normal em erro */
.ant-input-status-error.ant-input {
  border-color: var(--primary-red) !important;
  background-color: var(--card-bg);
}

.ant-input-status-error.ant-input:hover {
  border-color: var(--primary-red) !important;
}

/* Password wrapper em erro */
.ant-form-item-has-error .ant-input-affix-wrapper {
  border-color: var(--primary-red) !important;
  background-color: var(--card-bg) !important;
}

/* Remove borda interna quando em erro */
.ant-form-item-has-error .ant-input-affix-wrapper .ant-input {
  border: none !important;
  box-shadow: none !important;
}

/* Error Input Password Wrapper */
.ant-form-item-has-error .ant-input-password,
.ant-form-item-has-error .ant-input-password:hover {
  border: solid 1px var(--primary-red) !important;
  background-color: var(--card-bg) !important;
}

.ant-form-item-has-error .ant-input-password-focused {
  border: solid 1px var(--primary-red) !important;
}

/* Garante que o input interno não tenha borda quando há erro */
.ant-form-item-has-error .ant-input-password .ant-input,
.ant-form-item-has-error .ant-input-password .ant-input:hover,
.ant-form-item-has-error .ant-input-password .ant-input:focus {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

/* Space between form items */
.ant-form-item {
  margin: 0;
}

.ant-form-vertical .ant-form-item-label {
  padding: 0 !important;
}

/* Icon Password Input */
.ant-input-suffix {
  margin: 10px;
  font-size: 16px;
}

.ant-input-suffix svg {
  color: var(--input-suffix-color);
}

/* Label Inputs */
.ant-form-item-label {
  padding: 0 0 8px 0 !important;
}

.ant-form-item-label > label {
  color: var(--label-color);
  font-size: 14px;
  font-weight: 500;
}

/* links */

.text-link {
  color: var(--text-h1) !important;
}
.link-primary {
  color: var(--primary-blue);
}

/* Message Input Error */
.ant-form-item .ant-form-item-explain,
.ant-form-item .ant-form-item-explain-error {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  font-size: 12px;
  line-height: 1.4;
  color: var(--primary-red);
  pointer-events: none;
  opacity: 0;
  transform: translateY(-4px);
  transition: all 0.2s ease-out;
}

.ant-form-item-has-error .ant-form-item-explain,
.ant-form-item-has-error .ant-form-item-explain-error {
  opacity: 1;
  transform: translateY(0);
}

.ant-form-item-with-help .ant-form-item-explain,
.ant-form-item-with-help .ant-form-item-explain-error {
  min-height: 0 !important;
  height: 0 !important;
  overflow: visible !important;
}

/* Buttons */
.ant-btn-primary {
  height: 44px;
  margin: 0;
  padding: 0;
  background-color: var(--primary-blue);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.ant-btn-primary[disabled] {
  background-color: var(--bg);

  border: solid 1px var(--border);
  color: var(--label-color);
}
.ant-btn-primary[disabled]:hover {
  background-color: var(--bg);
  border: solid 1px var(--border);
  color: var(--label-color);
}
.ant-switch:focus {
  box-shadow: none;
}
.ant-switch-checked:focus {
  box-shadow: none;
}



/* Dropdown menu */
.ant-dropdown-menu-submenu.ant-dropdown-menu-submenu-selected > .ant-dropdown-menu-submenu-title {
  background-color: transparent !important;
  color: inherit !important;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-selected,
.ant-dropdown-menu-item.ant-dropdown-menu-item-selected:hover {
  background-color: transparent !important;
}

.ant-dropdown-menu {
  background-color: var(--card-bg) !important;
  color: var(--text-h1) !important;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  background-color: var(--card-bg) !important;
  color: var(--text-h1);
}


.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: var(--bg) !important;
  color: var(--text-h1) !important;
}

nz-menu-item {
  background-color: var(--bg) !important;
  color: var(--text-h1);
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-danger {
  color: var(--primary-red) !important;
}

nz-avatar {
  background-color: var(--avatar-card) !important;
  color: var(--header-avatar-icon) !important;
}


/* Mensagem de erro do telefone - segue o padrão global */
.ant-form-item-explain-error {
  position: absolute;
  top: calc(100%);
  left: 0;
  width: 100%;
  font-size: 12px;
  line-height: 1.4;
  color: var(--primary-red);
  pointer-events: none;
  opacity: 0;
  transform: translateY(-4px);
  transition: all 0.2s ease-out;
}

/* Quando há erro, mostra a mensagem */
::ng-deep nz-form-control[ng-reflect-nz-validate-status="error"] .ant-form-item-explain-error {
  opacity: 1;
  transform: translateY(0);
}

/* Borda vermelha no telefone quando tem erro */
::ng-deep nz-form-control[ng-reflect-nz-validate-status="error"] {
  .iti__selected-country,
  .iti__tel-input {
    border-color:var(--primary-red) !important;
  }

  .iti__tel-input:focus {
    box-shadow: 0 0 0 2px rgba(var(--primary-red)d, 0.2) !important;
  }
}

.ant-dropdown-menu-item-divider{
  height: 0.5px;
  background-color: var(--border);
}


.auth-card {
  min-width: 300px;
  max-width: 400px;
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: var(--padding-3) var(--padding-2);
  border: 1px solid var(--card-border);
}
