/*src\styles\themes\light.css*/
:root.light {
  --bg: #f9fafb;
  --bg-card: #ffffff;
  --avatar-card: #f9fafb;
  --header-bg: #f1f1f1;
  --header-avatar-icon: #5f6875;

  --text-h1: #111827;
  --text-h2: #5f6875;
  --text-gray: #374151;
  --text-white: #ffffff;

  --border: #d1d5db;

  --label-color: #374151;
  --input-suffix-color: #374151;
  --color-input: #374151;

  --btn-primary-bg: var(--primary-blue);
  --btn-primary-text: #ffffff;

  --card-bg: #ffffff;
  --card-border: #d1d5db;

  --link-color: var(--primary-blue);
  --placeholder-input: var(--light-placeholder-input);
  --border-input: #d1d5db;
  --border-input-focus: var(--focus-blue);
  --hover-input: var(--focus-blue);

  --password-requirement: #374151;
  --password-satisfied: #16a34a;
}
