/* src\styles\themes\utilites.css */
.m-1 { margin: var(--margin-1); }
.m-2 { margin: var(--margin-2); }
.m-3 { margin: var(--margin-3); }
.m-4 { margin: var(--margin-4); }

.mt-1 { margin-top: var(--margin-1) !important; }
.mt-2 { margin-top: var(--margin-2) !important; }
.mt-3 { margin-top: var(--margin-3) !important; }
.mt-4 { margin-top: var(--margin-4) !important; }

.mb-1 { margin-bottom: var(--margin-1); }
.mb-2 { margin-bottom: var(--margin-2); }
.mb-3 { margin-bottom: var(--margin-3); }
.mb-4 { margin-bottom: var(--margin-4); }

.ms-1 { margin-left: var(--margin-1); }
.ms-2 { margin-left: var(--margin-2); }
.ms-3 { margin-left: var(--margin-3); }
.ms-4 { margin-left: var(--margin-4); }

.me-1 { margin-right: var(--margin-1); }
.me-2 { margin-right: var(--margin-2); }
.me-3 { margin-right: var(--margin-3); }
.me-4 { margin-right: var(--margin-4); }

/* Padding */
.p-1 { padding: var(--padding-1); }
.p-2 { padding: var(--padding-2); }
.p-3 { padding: var(--padding-3); }

.pt-1 { padding-top: var(--padding-1); }
.pt-2 { padding-top: var(--padding-2); }
.pt-3 { padding-top: var(--padding-3); }

.pb-1 { padding-bottom: var(--padding-1); }
.pb-2 { padding-bottom: var(--padding-2); }
.pb-3 { padding-bottom: var(--padding-3); }

/* Helpers */
.text-center { text-align: center; }
.text-end { text-align: right; }
.d-flex-center { display: flex; justify-content: center; align-items: center; }
