.password-rules {
  margin-top: 4px;
  background-color: var(--card-bg) !important;
}

.requirement {
  display: flex;
  align-items: start;
  font-size: 12px;
  color: var(--password-requirement) !important;
}

.requirement:last-child {
  margin-bottom: 0;
}

.requirement.satisfied {
  color: var(--password-satisfied) !important;
}

.requirement .icon {
  margin-right: 10px;
  font-weight: bold;
  width: 4px;
  text-align: center;
}



.auth-card {
  min-width: 340px;
  max-width: 400px;
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: var(--padding-3) var(--padding-2);
  border: 1px solid var(--card-border);
}
